/*
-Steve Barry-
main css file
for scheduler
*/

body{
    width: 100%;
    position: relative;
    /* background-image: url("../images/bg.png");
    background-repeat: repeat; */
}

.jumbo_h1{
    font-size: 100%;
}
.lead{
    font-size: 25%;
}
table{
    border: black solid 1px;
}
.txt_event{
    font-size: 20%;
    resize: none;
}