/*
-Steve Barry-
main css file
for scheduler
*/

body{
    width: 100%;
    position: relative;
    font-family: Arial, Helvetica, sans-serif;
    background-image: url("../images/bg.png");
    background-repeat: repeat;
}
.container{
    width: 70%;
    margin: 0 auto;
    padding: 0;
    margin-bottom: 30px;
}
.jumbotron {
    text-align: center;
    background-color: lightgray;
    color: black;
    border-radius: 0;
    border-bottom: 2px solid black;
    padding: 2%;
}
.jumbo_h1{
    font-size: 150%;
    text-align: center;
}
.lead{
    text-align: center;
}
table{
    border: none;
    width: 100%;
}
th{
    text-align: center;
}
td{
    vertical-align: middle;
}
.hour{
    font-size: 150%;
    text-align: center;
    width: 100px;
}
.time-block{
    /* border-bottom: 1px solid darkgoldenrod; */
}
.updateVal{
    background-color: white;
    background-image: url("../images/uploadStatic.png"); 
    background-repeat: no-repeat;
    background-size: contain;
    cursor: pointer;
    text-align: center;
    width: 70px;
    color: black;
}
.txt_event{
    font-size: 100%;
    resize: none;
    width: 95%;
    height: 60px;
    padding: 10px 15px;
    border-radius: 30px;
    margin-top: 6px;
}
.txt_event:focus{
    box-shadow: 0px 0px 15px blue;
}
.txt_event:focus .time-block{
    background-color: burlywood;
}
